services:
  db:
    image: postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${var_dbUsername}
      POSTGRES_PASSWORD: ${var_dbPassword}
      POSTGRES_DB: sveltekit
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
